name: Sysdig IaC Scan

on:
  push:
    branches: [main]
  pull_request:

jobs:
  iac-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Sysdig Secure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -sSfL https://download.sysdig.com/stable/sysdig-secure-cli/install.sh | sudo bash

      - name: Verify sysdig-secure installed
        run: |
          sysdig-secure --version

      - name: Run IaC Scan
        run: |
          sysdig-secure iac scan .
