#test commit for sysdig scan
name: Build & Scan Voting App

on:
  push:
    branches:
      - main

jobs:
  build_and_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build vote image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USER }}/vote:latest ./vote
          docker push ${{ secrets.DOCKERHUB_USER }}/vote:latest

      - name: Build result image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USER }}/result:latest ./result
          docker push ${{ secrets.DOCKERHUB_USER }}/result:latest

      - name: Build worker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USER }}/worker:latest ./worker
          docker push ${{ secrets.DOCKERHUB_USER }}/worker:latest

      - name: Install Sysdig CLI
        run: |
          curl -s https://download.sysdig.com/stable/sysdig-cli-linux.tar.gz | tar xz
          sudo mv sysdig-cli /usr/local/bin/sysdig

      - name: Scan vote image
        run: |
          sysdig image scan ${{ secrets.DOCKERHUB_USER }}/vote:latest --api-token ${{ secrets.SYSDIG_TOKEN }}

      - name: Scan result image
        run: |
          sysdig image scan ${{ secrets.DOCKERHUB_USER }}/result:latest --api-token ${{ secrets.SYSDIG_TOKEN }}

      - name: Scan worker image
        run: |
          sysdig image scan ${{ secrets.DOCKERHUB_USER }}/worker:latest --api-token ${{ secrets.SYSDIG_TOKEN }}

